.add {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .4);
}

.add.hidden {
    display: none;
}

.add .mask {
    width: 100%;
    height: 100%;
}

.add .pole {
    position: fixed;
    overflow-y: auto;
    background-color: #fff;
    width: 650px;
    padding: 10px 30px;
    border-radius: 9px;
    box-shadow: 8px 11px 8px 5px rgba(34, 60, 80, 0.2);
}

.pole input, .pole textarea, .pole button {
    font-size: 16px;
}

/*  */

#add-site input:focus:invalid {
  outline: 2px solid red;
}

#add-site input:focus:valid {
  outline: 2px solid green;
}

#add-site input + span {
  padding: 0 0.3rem;
}

#add-site input:invalid + span::after {
  content: "✖" / "Content is not valid";
  color: red;
}

#add-site input:valid + span::after {
  content: "✓" / "Content is valid";
  color: green;
}

