.card {
    width: max-content;
	margin: 7px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 9px;
	
	display: flex;
    flex-direction: column;
    padding: 5px 8px;
    position: relative;
}

.card:hover .delete {
    display: block;
}

.delete {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: #ffffff99;
    border-radius: 50%;
    right: -9px;
    top: -9px;
    display: none;
    position: absolute;
}

.delete span {
        display: block;
        height: 2px;
        background-color: #333;
        width: 25px;
        position: absolute;
}

.card:hover .delete span:nth-child(1) {
        transform: translate3d(0,12.5px,0) rotate(135deg);
}

.card:hover .delete span:nth-child(2) {
        transform: translate3d(0,12.5px,0) rotate(-135deg)
}

.wrapper-icons {
    display: none;
}

.card:hover .wrapper-icons {
    display: flex;
    position: absolute;
    left: -9px;
    bottom: -41px;
    z-index: 1;
    background-color: #fff;
    padding: 0  4px 8px 4px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 9px;
    border-top: none;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
}

.username, .fullname {
	margin: 4px;
}

.username::before {
	content: "@"
}

/* --------- */
.icon {
	width: 27px;
    height: 27px;
	background-size: 100%;
    display: inline-block;
	margin: 0 4px;
}
.icon > a {
	display: block;
    height: 100%;
}

.users .icon {
    height: 32px;
    width: 32px;
	display: none;
}

.user {
    position: relative;
}