.footer {
    margin-top: 30px;
    padding: 30px 0;
    /* border-top: 1px solid #ddd; */
    box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.2);
}

.footer-content {
    margin: 0 30px;
    text-align: center;
    font-size: 15px;
}