.header {
	height: 64px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
	
	width: 1200px;
    margin-right: auto;
    margin-left: auto;
	margin-bottom: 20px;

    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
    padding: 0 9px 5px 9px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
}

.logo {
	flex-shrink: 0; /* нельзя сжимать эл.*/
	flex-grow: 1; /* оставить для эл. место */
	height: 100%;
}

.logo img {
	height: 100%;
}

@media (width >= 1540px) {
	.header {
		width: 1307px;
	}
}

@media (width <= 1220px) {
    .header {
        width:96%
    }
}

@media (width <= 576px) {
    .header {
        width: calc(100% - 20px);
    }
}