/* описано состояние колонок внутри .main-section при разной ширине окна */

/* большой макет */
@media (width >= 1760px) {
	.select-sites {
		width: 440px
	}
	
	.about {
		width: 500px
	}
}

/* средний макет */
@media (1220px < width < 1760px) {
	.select-sites {
		width: 440px
	}
	
	.about {
		width: 1132px;
	}
}

/* малый макет */
@media (width <= 1220px) {
	.select-sites {
		width: 660px
	}
	
	.about {
		width: 660px
	}
	
	.users {
		order: -1;
	}
}

.main-section {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	padding: 0 20px;
}

.users {
	width: 660px
}

/* границы, отступы дочерних блоков */
.select-sites, .users, .about {
	border: 1px solid rgb(192, 192, 192);
	margin: 5px;
	padding: 0 10px;
	border-radius: 9px;
}